.container {
  margin: 30px;
}

.title {
  padding: 10px;
  color: white;
}

.line {
  background-color: white;
}

.leftSide {
  background-color: white;
  border-radius: 5px;
}

.rightSide {
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.leftSideTitle {
  background-color: lightgrey;
}

.inputs {
  width: 100%;
  padding: 10px;
}

.calcButtonContainer {
  background-color: lightgrey;
  padding: 10px;
}

.calcButton {
  color: white;
  background-color: rgb(65, 120, 202);
  width: 100%;
}

.outcomeContainer {
  padding: 10px;
}

.outcome {
  background-color: rgb(185, 223, 185);
  color: green;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.denominations {
  text-align: center;
  height: 100px;
}
